{% extends 'base.html.twig' %}

{% block title %}Recherche de Bonbons{% endblock %}

{% block body %}
    <div class="search-container">
        <h1>Recherche de Bonbons</h1>
        <form action="{{ path('search') }}" method="GET">
            <input type="text" name="query" placeholder="Rechercher des bonbons" value="{{ app.request.query.get('query', '') }}">
            <button type="submit"><i class="fas fa-search"></i> Rechercher</button>
        </form>
    </div>

    <div class="results-container">
        <h2>Résultats de la recherche</h2>
        <ul class="results-list">
            {% if results is not empty %}
                {% for sweet in results %}
                    <li>
                        <img src="{{ asset('img/' ~ sweet.thumbnail) }}" alt="{{ sweet.name }}">
                        <h3>{{ sweet.name }}</h3>
                        <p>{{ sweet.description }}</p>
                        <p>Prix : {{ sweet.price }}€</p>
                        <a href="{{ path('product_detail', {'id': sweet.id}) }}" class="btn">Détails</a>
                    </li>
                {% endfor %}
            {% else %}
                <p>Aucun résultat trouvé.</p>
            {% endif %}
        </ul>
    </div>
{% endblock %}
