<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}HalalSweetShop
			{% endblock %}

		</title>

		<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
		<link rel="stylesheet" href="{{ asset('css/header.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/sweet.css') }}">
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://kit.fontawesome.com/9bdb88f646.js" crossorigin="anonymous"></script>

		{% endblock %}
	</head>
	<body>



		{% block body %}

			 {% include 'header.html.twig' with { 'categories': categories } %}
			{% include 'index.html.twig' %}
			{% include 'footer.html.twig' %}

		{% endblock %}


	</body>
</html>
